.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.container label {
    font-size: 14px;
    color: #ff1493;
}

.container input {
    height: 40px;
    padding: 5px 8px;
    border: 1px solid gray;
    color: gray;
    font-size: 13px;
    font-weight: 400;
}

.container input::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: rgb(150, 147, 147);
}