.login {
    min-height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebd1da;
}

.login .loginModal {
    width: 500px;
    padding: 2rem;
}

.login .loginModal .imageDiv {
    background-color: #fff;
}

.login .loginModal .imageDiv img {
    width: 436px;
}

.login .loginModal .imageDiv p {
    visibility: hidden;
}

.login .loginModal form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 2rem;
    background-color: #fff;
}

.login .loginModal form input {
    height: 40px;
    padding: 5px 8px;
    border: 1px solid gray;
}

.login .loginModal form .loginHeading {
    font-size: 20px;
    font-weight: 500;
    color: #ff1493;
}

.login .loginModal form button {
    border: none;
    padding: 5px 8px;
    color: #fff;
    background-color: #f25278;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.login .loginModal form .errorMsg {
    color: red;
    font-size: 12px;
    font-weight: 400;
    margin-top: -20px;
    text-transform: capitalize;
}